@import "tailwindcss";

@theme {
  --color-backgroundColor: #1e1c33;
}
.MuiSvgIcon-root:hover {
  color: #3091e0;
  height: 30px;
  width: 30px;
  transition: all 0.3s ease-in-out;
}
body {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
h1 {
  color: yellow;
  font-family: "Playfair Display", serif;
}
.scrollBar {
  overflow: auto;
}
.scrollBar::-webkit-scrollbar {
  width: 5px;
}
.scrollBar::-webkit-scrollbar-thumb {
  background-color: rgb(58, 173, 250);
}
.scrollBar::-webkit-scrollbar-track {
  background-color: rgb(1, 31, 70);
}
.poster {
  animation: slide 20s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  input {
    width: 68%;
  }
  .dropDownMenu {
    margin-top: 100%;
  }
  .poster {
    animation: slide 20s linear infinite;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-800%);
    }
  }
}
